@use '@scssVariables' as v;

.credits {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	border-radius: 5px;
	padding: 1rem;

	&__container-img {
		width: 100%;
		display: flex;
		align-items: center;
	}

	&__img {
		width: 100%;
		align-self: center;
		border-radius: v.$br;
		margin: 0 auto;
	}
	&__title {
		font-size: v.$fs-title;
		text-align: center;
	}
	&__subtitle {
		font-size: v.$fs-subtitle;
		text-align: center;
	}
	&__container-detail {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
}
@media (min-width: 1024px) {
	.credits {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 125px);
		width: 100%;
		&__container-img {
			width: 50%;
		}

		&__img {
			width: 100%;
		}

		&__container {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 1rem;
			width: 50%;
		}
	}
}

@media (min-width: 1440px) {
	.credits {
		width: 90%;
		margin: 0 auto;
		&__container-img {
			width: 50%;
			display: flex;
		}

		&__img {
			width: 75%;
		}

		&__form {
			width: 50%;
		}
	}
}
