@use '@scssVariables' as v;

.privacyPolicy {
	margin: 1rem auto;
	width: 75%;
	background-color: v.$clr-trs-bg;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px double v.$clr-border;
	border-radius: 10px;
	padding: 1rem;
	&__title {
		text-align: center;
		font-size: v.$fs-title;
		padding-bottom: 1rem;
	}
	&__subtitle {
		font-size: v.$fs-subtitle;
		text-decoration: underline;
		text-align: center;
		padding: 1rem;
	}
	&__paragraph {
		font-size: v.$fs-text;
		padding-bottom: 1rem;
		text-align: justify;
	}
}

@media (min-width: 1024px) {
	.privacyPolicy {
		padding: 1rem 3rem;
	}
}
