// color :
$clr-primary: #002a3d;
$clr-secondary: #104258;
$clr-border: #87ceeb;
$clr-btn-hover: #87ceeb;
$clr-btn-trs: transparent;

// background transparent :
$clr-trs-bg: rgb(135, 206, 235, 0.2);
$clr-bg-trs-primary: #002a3daf;

//border-radius :
$br: 10px;

$clr-light: #ffffff;
$clr-btn: #ffffff00;
$clr-btn-text-main: #ffffff;
$clr-btn-text-alt: #fdba22;

$clr-txt-dark: #11151d;
$clr-txt-light: #ffffff;
$clr-footer-bg: #002a3d;
$clr-error: #ff0000;
// pseudo-state

//input :
$inp-padding: 0.7rem 0.2rem;

// font-size :
$fs-title: 3rem;
$fs-subtitle: 1.5rem;
$fs-text: 1.2rem;
$fs-text-footer: 1rem;
$fs-btn-text: 1.4rem;

//font-weight :
$fw-regular: 400;
$fw-bold: 700;
$fw-xtrabold: 900;
