@use '@scssVariables' as v;

.underConstruction {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 1rem;
	padding: 1rem;
	min-height: calc(100vh - 90px);

	&__container-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
		height: 50%;
	}
	&__title {
		font-size: v.$fs-title;
		text-align: center;
	}
	&__container-img {
		height: 50%;
	}
	&__img {
		width: 100%;
		margin: 0 auto;
		border-radius: v.$br;
	}
}

@media (min-width: 1024px) {
	.underConstruction {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		min-height: calc(100vh - 125px);
		width: 100%;

		&__container-img {
			width: 50%;
		}

		&__img {
			width: 100%;
		}
		&__container-text {
			display: flex;
			justify-content: center;
			width: 50%;
			font-size: 1.5rem;
		}
	}
}

.underConstruction__img {
	width: 100%;
	height: auto;
	max-width: 100%;
}

@media (min-width: 1440px) {
	.underConstruction {
		width: 70%;
		margin: 0 auto;
		&__container-img {
			width: 50%;
			display: flex;
		}

		&__img {
			width: 75%;
		}

		&__form {
			width: 50%;
		}
	}
}
